<!DOCTYPE HTML>
<html>
	<head>
		<title>403 Forbidden</title>
	</head>
	<body>
		<h1>Forbidden</h1>
		<p>You don’t have permission to access <%= pathname %> on this server.</p>
<%- include('./footer', {expressVersion: expressVersion}); %>
	</body>
</html>