<!DOCTYPE HTML>
<html>
	<head>
		<title>405 Method Not Allowed</title>
	</head>
	<body>
		<h1>Method Not Allowed</h1>
		<p>The requested method <%= method %> is not allowed for the URL <%= pathname %>.</p>
<%- include('./footer', {expressVersion: expressVersion}); %>
	</body>
</html>