<!DOCTYPE HTML>
<html>
	<head>
		<title>500 Internal Server Error</title>
	</head>
	<body>
		<h1>Internal Server Error</h1>
		<p>The server encountered an internal error or misconfiguration and was unable to complete your request.</p>
		<p>Please contact the server administrator at zhwp-afc-bot<img alt="- at -" style="vertical-align: middle;" src="https://commons.wikimedia.org/wiki/Special:Redirect/file/At_sign.svg" width="15" height="15">toolforge.org to inform them of the time this error occurred, and the actions you performed just before this error.</p>
<%- include('./footer', {expressVersion: expressVersion}); %>
	</body>
</html>