		<footer style="border-top: 1px outset #000000; padding-top: 5px;">
			<address>Express/<%= expressVersion %> Server at zhwp-afc-bot.toolforge.org Port 443</address>
			<address>Source Code: <a href="https://github.com/WPAFC-zhwiki/zhwp-afc-bot.toolforge.org">https://github.com/WPAFC-zhwiki/zhwp-afc-bot.toolforge.org</a></address>
		</footer>