<!DOCTYPE HTML>
<html>
	<head>
		<title>503 Request Timeout</title>
	</head>
	<body>
		<h1>Request Timeout</h1>
		<p>Sorry, your request timed out due to an unknown issue. Please try again later.</p>
<%- include('./footer', {expressVersion: expressVersion}); %>
	</body>
</html>